<footer class="footer">
    <div class="footer-content">
      <div class="footer-info">
        <h3 class="footer-title">Dirección de la Escuela</h3>
        <p class="footer-address">Camino a Veracruz, Managua, Nicaragua</p>
        <p class="footer-phone">Teléfono: +505 2222-3434</p>
      </div>
      <div class="footer-social">
        <h3 class="footer-title">Síguenos en redes sociales</h3>
        <ul class="social-icons">
          <li><a href="https://www.facebook.com" target="_blank" class="fab fa-facebook-f"></a></li>
          <li><a href="https://www.twitter.com" target="_blank" class="fab fa-twitter"></a></li>
          <li><a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a></li>
        </ul>
      </div>
    </div>
</footer>